$suffixes: ("est", "er", "", "er", "est");
$themes: ("light", "dark");

// @each $theme in $themes {
//   @each $suffixe in $suffixes {
//     .r-bg-#{$theme}#{$suffixe}{
//       background-color: blue;
//     }
//   }
// }


.r-bg-darkest {
  background-color: var(--color-6);
}

.r-bg-darker {
  background-color: var(--color-5);
}

.r-bg-dark {
  background-color: var(--color-4);
}

.r-bg-light {
  background-color: var(--color-3);
}

.r-bg-lighter {
  background-color: var(--color-2);
}

.r-bg-lightest {
  background-color: var(--color-1);
}
