html,
body,
#q-app {
  --color-1: rgb(255, 255, 255);
  --color-2: rgba(250, 250, 250, 0.8);
  --color-3: rgb(0, 90, 116);
  --color-4: rgb(0, 56, 71);
  --color-5: rgb(0, 64, 82);
  --color-6: rgb(0, 33, 43);

  background-color: var(--color-5);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#q-app {
  display: grid;
  grid-template-rows: 1fr;
}

#q-app.electron {
  grid-template-rows: 30px 1fr;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  cursor: default;
  line-height: 1.15em;
  font-weight: 300;
}

b {
  font-weight: 500;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  text-align: left;
}

p,
ul {
  padding: 0.5rem;
}

ul {
  padding-left: 2rem;
}

main {
  height: 100%;
  width: 100vw;
  display: grid;
  row-gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  background: var(--color-4);
  color: var(--color-1);
  overflow-y: auto;
  align-items: center;
  justify-items: center;
  align-content: flex-start;
}

section {
  width: 100%;
}

.container-center {
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.drag-zone {
  content: " ";
  height: 100%;
  width: 100%;
  -webkit-app-region: drag;
}

.hidden {
  visibility: hidden;
}

.max-size {
  max-width: 600px;
}

.margin-bot {
  margin-bottom: .5em;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.relative {
  position: relative;
}

.span-all {
  grid-column-start: 1;
  grid-column-end: -1;
}

.text-center {
  text-align: center;
}

/* ScrollBar  */

/* width */
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-6);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* box-shadow: -2px 2px 2px 2px black; */
  background: var(--color-4);
  border-left: 3px solid var(--color-6);
  border-right: 3px solid var(--color-6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-5);
}
